div {
  margin: 10px ;
}

.hd_div {
  display: flex;
  justify-content: space-between;
}


.hd_div .hd_btn,div label {

  margin: 0 10px;
  flex: auto ;
}
  


input[type='text'],select,textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;
}

.nowrap  { 
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    /* content: "\2212"; */
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
    /* content: '\002B'; */
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
  .headerDiv{
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  .contentDiv{
    padding: 0 18px;
    background-color: #f1f1f1;
  }

 
.menuButton{
    background-color:#bbb;
    border-radius:15px;
    border: none;
    display:inline-block;
    cursor:pointer;
    color:#fff;
    font-size:14px;
    font-weight: normal;
    padding-top: 0px;
    padding-right: 6px;
    padding-bottom: 0px;
    padding-left: 6px;
    margin-left: 5px;

}

.menuButtonGadget {
  background-color: #bbb;
  border-radius: 15px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding-top: 0px;
  padding-right: 6px;
  padding-bottom: 0px;
  padding-left: 6px;
  margin-left: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.ui-btn .ui-corner-all .ui-btn-inherit .ui-btn-icon-left .ui-radio-off, .ui-radio .ui-btn-icon-left .ui-icon{
 border-style: none;
}